body {
	background-image: url("../img/header_bg.jpg");
	margin: 0;
	padding: 0;
}

#container {

}

#boss {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}